    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    :root{
        --main-color:blue;
        --bg-color:black;
        --secondary-color:white;
        --main-font: Arial;
        --secondary-font:'Orbitron'
    }

    html, body{
        scroll-behavior: smooth;
    }

    #chart{
        width: 500px;
        height: 500px;
        margin: 200px 0px;

            & foreignObject{
                    & div{
                        display: none;
                    }
            }
    }

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    ul,li,ol{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: var(--secondary-color);
    }
    .container{
    width: 1224px;
    max-width: 100%;
    margin: 0 auto;  
    }
    body{
        min-height: 100vh;
        background: black;
        overflow-x: hidden;
    }
    header{
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: flex;
        gap: 30px;
        font-family: var(--main-font);
        font-size: 14px;
    }
    .main-view{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100vh ;
    }
    .main-view h2{
        font-size: 5rem;
        color: white;
        font-family: var(--main-font);
        animation: fadeIn 2s 1;
    }

    .main-bio{
        min-height: 100vh;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: var(--main-font);

            & p{
                width: 300px;
                align-items: right;
                font-family: "Inter";
            }

            & #element{
                font-size: 28px;
                color: blue;
                font-family: "Inter";
                width: 50%;
            }
    }

    .main-bio-info{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-bio-img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        overflow: hidden;
        
        
            & img{
                width: 55%;
                min-height: 90%;
                border-radius: 50%;
                background-color: #17163a41;
            }
    }

    .bio-title{
        font-size: 1.5rem;
        font-family: Arial;
        font-weight: bold;
    }

    .bio-github{
        font-size: 1.2rem;
        font-family: Arial;

            &:first-letter{
                color: blue !important;
            }
    }

    .bio-cv-download{
        width: 120px;
        height: 50px;
        color: white;
        border: none;
        background: linear-gradient(120deg, white 0,1%, blue);
        border-radius: 5px;
        transition: all .2s ease;
        overflow: hidden;
        position: relative;
        text-align: center;
        align-content: center;

            &:hover{
                cursor: pointer;
                transform: translateX(5px);
            }

            &:after{
                position: absolute;
                content: '';
                width: 5px;
                height: 150%;
                background: white;
                left: 0;
                top: 0;
                transform: rotate(145deg);
                filter: blur(6px);
                animation: flash 3s infinite linear;
            }
    }

    .design-container{
        position: absolute;
        left: calc(50% - 150px);
        top: calc(50% - 150px);
    }
    .design-item{
        width: 300px;
        height: 300px;
        border-radius: 60px 50px 20px 170px;
        background-color: blue;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(50px);
        animation: morph 7s infinite linear;
    }
    #slide_down{
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        position: absolute;
        bottom: 50px;
        left: calc(50% - 5px);

        &:after{
            content: "Подробнее";
            position: absolute;
            width: 100px;
            left: calc(50% - 50px);
            color: rgba(255, 255, 255, 0.747);
            font-family: var(--main-font);
            font-size: 14px;
            top: -20px;
        }
    }

    #slide_down img{
        animation: slideDown 3s infinite linear;
    }

    .main-case{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: var(--main-font);

            & h2{
                margin: 100px 0px;
            }
    }

    .case-cards{
        width: 500px;
        height: 500px;
        position: relative;
    }

    .case-card{
        width: 300px;
        height: 500px;
        border-radius: 10px;
        border-top: 2px solid rgb(34, 34, 34);
        background:linear-gradient(150deg,rgb(20, 20, 20),black) ;
        filter: brightness(1.2);
        display: flex;
        flex-direction: column;
        font-family: var(--main-font);
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        left: calc(50% - 150px);
        top: calc(50% - 250px);
        transition: all .4s ease;
    }

    .case-card img{
        width: 100px;
    }

    .case-cards:hover #card-1{
        transform: translateX(-150px) rotate(-20deg);
    }

    .case-cards:hover #card-2{
        transform: translateX(150px) rotate(20deg);
    }

    .case-cards:hover #card-4{
        transform: translate(280px, 80px) rotate(40deg);
        z-index: -1;
    }

    .case-cards:hover #card-5{
        transform: translate(-280px, 80px) rotate(-40deg);
    }

    #card-3{
        animation: cardClick 2s infinite linear;
    }

    #card-3 img{
        width: 150px;
        height: 150px;
    }

    #card-4{
        z-index: -1;
    }

    #card-5{
        z-index: -1;
    }

    #bot{
        position: fixed;
        bottom: 3px;
        right: 3px;
        opacity: 0.5;
        transition: all .2s ease;
        z-index: 100;

        &:hover{
            opacity: 1;
        }

        
    }

    .bot_form{
        position: fixed;
        width: 250px;
        height: 300px;
        background-color: white;
        bottom: 100px;
        right: 100px;
        border-radius: 15px;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & input{
            width: 80%;
            height: 40px;
            text-align: center;
            align-content: center;
            border: none;
            font-size: 12px;
            box-shadow: inset 0px 0px 3px black;
            cursor: help;
        }
    }

    .bot_form button{
        width: 80%;
        height: 40px;
        background-image: linear-gradient(150deg, white 0,1%, blue);
        outline: none;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    #bot img{
        transform: scale(-1, 1);
    }

    #close_form{
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;                            
    }

    .sect-works{
        min-height: 100vh;

        & h2{
            font-size: 44px;
            font-family: Arial;
            color: white;
        }
    }

    .works_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .slider{
        width: 100%;
        display: flex;
        justify-content: space-between;

            & #slider-left{
                background: none;
                transform: scale(-1, 1);
                border: none;
                outline: none;
                cursor: pointer;
                animation: slowLeft 5s infinite;
            }

            & #slider-right{
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                animation: slowRight 5s infinite;
            }

            & .slider_content{
                width: 300px;
                height: 400px;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                gap: 10px;
                font-size: 24px;
                font-family: Arial;

                & img{
                    width: 200px;
                    height: 200px;
                    margin: auto;
                }

                & #obj-name{
                    font-size: 30px;
                    font-family: "Raleway";
                    margin: auto;
                }

                & a{
                    font-family: "Raleway";
                    color: rgb(80, 80, 194);
                }
            }
    }

    .works{
        width: 600px;
    }

    .feedbacks{
        width: 550px;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: -100;
    }

    .feedback{
        filter: brightness(1.2);
        width: 250px;
        height: 250px;
        border-radius: 20px;
        border-top: 2px solid rgb(24, 24, 24);
        background: linear-gradient(150deg, rgb(22, 22, 22), black);
        transition: all .4s ease;
        cursor: pointer;
        padding: 15px;
        font-family: Arial;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5%;

            & .feedback_mark{
                color: white;
                width: 70px;
                height: 20px;
                border-radius: 15px;
                text-align: center;
                align-content: center;
            }
    }

    .feedback_person{
            & span{
                font-size: 18px;
                color: white;
            }
    }

    .feedback_body{
        color: grey;
        font-size: 14px;
    }

    .footer{
        width: 100vw;
        min-height: 40vh;
        background-color: white;
        position: absolute;
        left: calc(50% - 50vw); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -100;

            & .info{
                min-width: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 26px;
                font-family: "Raleway", serif;
                font-weight: 600;
            }

            & .mediascreen{
                min-width: 50vw;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                    & img{
                        width: 64px;
                        transition: all .4s ease;

                        &:hover{
                            transform: translateY(-5px);
                        }
                    }
            }

            & #foot_rights{
                position: absolute;
                bottom: 20px;
                font-size: 12px;
                opacity: 0.7;
            }
    }



    @keyframes morph{
        0%{
            border-radius: 60px 50px 20px 170px;
            transform: translate(0,0) scale(1);
            background-color: blue;
        }
        20%{
            border-radius: 70px 40px 70px 120px;
            transform: translate(20px, 0) scale(1.1);
            background-color: darkviolet;
        }
        40%{
            border-radius: 80px 30px 80px 110px;
            transform: translate(0px, 10px) scale(1);
            background-color: blue;
        }
        60%{
            border-radius: 60px 50px 40px 160px;
            transform: translate(-10px, 0px) scale(1.1);
            background-color: red;
        }
        80%{
            border-radius: 70px 40px 70px 120px;
            transform: translate(20px, 0) scale(1.2);
            background-color: darkviolet;
        }
        100%{
            border-radius: 60px 50px 20px 170px;
            transform: translate(0,0) scale(1);
            background-color: blue;
        }
    }

    @keyframes fadeIn{
        0%{
            transform: translateY(-20px) scale(2);
            opacity: 0;
        }
        100%{
            transform: translateY(0px) scale(1);
            opacity: 1;
        }
    }

    @keyframes slideDown{
        0%{
            transform: translateY(0);
            opacity: 1;
        }
        50%{
            transform: translateY(10px);
            opacity: 0.5;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slowRight{
        0%{
            transform: translateX(0px);
        }
        50%{
            transform: translateX(10px);
        }
        100%{
            transform: translateX(0px);
        }
    }

    @keyframes slowLeft{
        0%{
            transform: translateX(0px) scale(-1, 1);
        }
        50%{
            transform: translateX(-10px) scale(-1, 1);
        }
        100%{
            transform: translateX(0px) scale(-1, 1);
        }
    }

    @keyframes flash{
        0%{
            opacity: 0;
            transform: translateX(0) rotate(25deg);
        }
        10%{
            opacity: 1;
        }
        90%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: translateX(120px) rotate(25deg);
        }
    }

    @keyframes cardClick{
        0%{
            filter: brightness(1);
        }50%{
            filter: brightness(1.3);
        }100%{
            filter: brightness(1);
        }
    }



    @media screen and (max-width: 820px){
        .container{
            width: 100vw;
       
        }

        .sect-works{
            & h2{
               margin-left: 40px;
            }
        }

        .main-bio{
            flex-direction: column;

                & #element{
                    font-size: 38px;
                }
        }

        .works_container{
            flex-direction: column-reverse;
        }

        .slider{
            margin: 100px 0px;
        }
    }

    @media screen and  (max-width: 412px){
        #chart{
            width: 400px;
            height: 400px;
        }
    
        .container{
            max-width:100vw;
            overflow-x: hidden;
        }

        .design-item{
            width: 300px;
            height: 300px;
        }

        .main-view h2{
            animation: fadeInMob 2s 1 forwards;
            margin-bottom: 75px;
        }

        .main-bio{
            flex-direction: column;

                & #element{
                    font-size: 28px;
                    margin-left: 100px;
                    width: 200%;
                }
        }

        .main-bio-img{
                & img{
                    width: 100%;
                }
        }

        .bio-title{
            font-size: 1rem;
        }

        .case-card{
            width: 150px;
            height: 250px;
            left: calc(50% - 75px);

                & img{
                    width: 50px;
                }
        }

        .case-cards:hover #card-1{
            transform: translateX(-70px) rotate(-20deg);
        }
    
        .case-cards:hover #card-2{
            transform: translateX(70px) rotate(20deg);
        }
    
        .case-cards:hover #card-4{
            transform: translate(150px, 50px) rotate(40deg);
            z-index: -1;
        }
    
        .case-cards:hover #card-5{
            transform: translate(-150px, 50px) rotate(-40deg);
        }

        #card-3 img{
            width: 70px;
            height: 70px;

        }

        #bot{
            position: fixed;
            right: -30px;
            opacity: 0.5;
        }

        .bot_form{
            right: 70px;
        }

        .sect-works h2{
            font-size: 34px;
            position: absolute;
            left: 80px;
        }

        .slider{
            width: 80%;

                & #slider-left{
                    margin-left: 115px;
                }

                & #slider-right{
                    margin-left: 40px;
                }

                & .slider_content{
                    width: 100px;
                    height: 400px;
                        
                        & img{
                            width: 150px;
                            height: 150px;
                        }

                        & #obj-name{
                            font-size: 26px;
                            width: 100vw;
                        }

                        & a{
                            font-size: 16px;
                            width: 100vw;
                        }
                }
        }

        .feedbacks{
            flex-direction: column;
            gap: 50px;
        }

        .footer{
            width: 100vw;
            margin: 100px 0px;
            flex-direction: column;
            gap: 50px;

                & .info{
                    font-size: 20px;
                }

                & .mediascreen img{
                    width: 48px;
                }
        }

        @keyframes fadeInMob{
            0%{
                transform: translateY(-20px) scale(2);
                opacity: 0;
            }
            100%{
                transform: translateY(0px) scale(0.7);
                opacity: 1;
            }
        }
    } 